@charset "UTF-8";

:root{
    --horizontal-canvas-height: 50vw;
    --horizontal-canvas-width: auto;
    --portrait-canvas-height: auto;
    --portrait-canvas-width: 100vw;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    box-sizing: border-box;
}
body main{
    height: var(--horizontal-canvas-height);
    width: var(--horizontal-canvas-height);
    position: relative;
}
canvas{
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}
ul{
    list-style: none;
}
.menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(175, 167, 95);
}
.hidden{
    display: none;
}
.back::after{
    content: '⬅';
    width: 50px;
    height: 50px;
}
#initial-menu{

}
#appearence-menu{

}
#final-menu{

}
@media (orientation: portrait){
    main {
        width: var(--portrait-canvas-width);
        height: var(--portrait-canvas-height);
    }
}